[project]
	description = Pure-Go HBase client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Howard Zhao (hzhaofb)
[access "refs/for/refs/*"]
	read = group user/Howard Zhao (hzhaofb)
	push = group user/Howard Zhao (hzhaofb)
	label-Code-Review = -2..+2 group user/Howard Zhao (hzhaofb)
	label-Verified = -1..+1 group user/Howard Zhao (hzhaofb)
	rebase = group user/Howard Zhao (hzhaofb)
	removeReviewer = group user/Howard Zhao (hzhaofb)
	submit = group user/Howard Zhao (hzhaofb)
[access "refs/heads/*"]
	read = group user/Howard Zhao (hzhaofb)
	create = group user/Howard Zhao (hzhaofb)
	push = +force group user/Howard Zhao (hzhaofb)
	pushMerge = group user/Howard Zhao (hzhaofb)
[access "refs/tags/*"]
	push = +force group user/Howard Zhao (hzhaofb)
	pushTag = group user/Howard Zhao (hzhaofb)
	pushSignedTag = group user/Howard Zhao (hzhaofb)
